<mat-card class="mat-card-light"> 
    <div *ngIf="(pokemonTrainer$|async) !== undefined && (pokemonTrainer$|async) !== null">
      <mat-card-header style="display: flex; justify-content: space-between;">
        <mat-card-title class="accent">
          PokemonTrainer: 
        </mat-card-title>
        <mat-card-subtitle>
          {{ (pokemonTrainer$ | async).name }} 
        </mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
          {{pokemonTrainer$ | async | json}}
      </mat-card-content>
  
      <mat-card-actions style="display: flex; justify-content: space-between;">
        <button type="button" mat-button (click)="close()">
          Close
        </button>
      </mat-card-actions>
    </div>
  </mat-card>