<mat-card class="mat-card-light"> 
    <mat-card-header style="display: flex; justify-content: space-between;">
      <mat-card-title class="accent">
        <span *ngIf="pokemonTrainerForm.value.id !== null; else elseBlock">
          Editing PokemonTrainer
        </span>
        <ng-template #elseBlock>
          Create PokemonTrainer
        </ng-template>
      </mat-card-title>
      
    </mat-card-header>
  <form [formGroup]="pokemonTrainerForm" >
    <mat-card-content>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-label>Pokemon: </mat-label>
      <mat-list >
        <mat-list-item *ngFor="let pokemon of (trainerPokemon$ | async); index as i"
        class="list-item">
          <h3 matLine>{{pokemon.name | titlecase}}</h3>

          <img *ngIf="pokemon.sprites?.front_default" 
          [src]="pokemon.sprites.front_default"  alt="pokemon image">
          
          <button mat-icon-button color="warn" (click)="deletePokemon(i); $event.stopImmediatePropagation()" >
            <mat-icon>delete</mat-icon>
          </button>

        </mat-list-item>
      </mat-list>
      <br>

      <section style="width: 100%; text-align: center;">
        <button mat-icon-button (click)="openDialog()">
          <mat-icon style="color: green;">
            add
          </mat-icon>
        </button>
      </section>
      

    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: space-between;">
      <button [disabled]="pokemonTrainerForm.invalid" type="submit" mat-button color="primary"
      (click)="saveTrainer();$event.stopImmediatePropagation();">Save</button>
      <button type="button" mat-button (click)="cancelled.emit();$event.stopImmediatePropagation();cancel();">
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>