@import '~@angular/material/theming';

mat-slider {
    width: 100%;
    margin: auto;
}

mat-form-field {
    width: 100%;
}

.list-item{
    display: flex;
    justify-content: space-between;
    height: auto !important;
}

img {
    height: 50px;
}

input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

