<div>
    <div class="secondary-div">
        <mat-toolbar class="secondary-toolbar mat-elevation-z5" 
        style="display: flex; justify-content: space-between;">
            <span>Pokemon Trainer List</span>
            <div *ngIf="(pokemonTrainer$|async)">
                <a mat-button class="nav-link mat-elevation-z5" 
                [routerLink]="(pokemonTrainer$ | async).id" routerLinkActive="active">
                    <span >
                        Pokemon Trainer Overview
                    </span>
                </a>
            </div>
        </mat-toolbar>
    </div>
    
    <div class="pokemons-containers">
        <div class="pokemons-list">
            <thirty-pokemon-trainers-list [pokemonTrainers]="pokemonTrainers$ | async" (selected)="select($event)" (deleted)="delete($event)">
            </thirty-pokemon-trainers-list>
        </div>
        <div [@openClose]="detailOpen ? 'open' : 'closed'" 
        (click)="focusDetail()">
            <thirty-pokemon-trainers-detail [pokemonTrainer]="pokemonTrainer$ | async" (saved)="save($event)" (cancelled)="cancel()" > 
            </thirty-pokemon-trainers-detail>
        </div>
    </div>
    
    <div class="container" style="margin-bottom: 20px;">
        <router-outlet>
        </router-outlet>
    </div>
</div>

