<mat-toolbar color="secondary" class="mat-elevation-z4 toolbar">
  <div>
      <span class="title accent" >
          {{appInfo.title}}
      </span>
      <span class="subtitle accent" >
          {{appInfo.description}}
      </span>
  </div>
  <button *ngIf="loginService.isAuthenticated$ | async; else elseblock" mat-button class="accent" (click)="logout()">
    Logout
  </button>
  <ng-template #elseblock>
    <a mat-button class="nav-link" routerLink="/login" routerLinkActive="active">
      <span class="accent">
        Login
      </span>
    </a>
  </ng-template>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav
    [opened]="loginService.isAuthenticated$ | async" mode="side" >
    <ng-container>
      <nav>
        <div>
          <div *ngFor="let link of links" >
            <a mat-button class="nav-link" [routerLink]="link.path" routerLinkActive="active">
              <span >
                {{link.title}}
              </span>
            </a>
          </div>
        </div>
      </nav>
    </ng-container>
  </mat-sidenav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>